<?xml version="1.0" encoding="UTF-8"?>
<component type="desktop">
  <id>eu.ithz.umftpd</id>
  <metadata_license>CC0-1.0</metadata_license>
  <project_license>GPL-3.0+</project_license>
  <name>{{global.title}}</name>
  <summary>{{global.description}}</summary>
  <developer id="eu.ithz">
    <name translate="no">Felipe A Hernandez</name>
  </developer>
  <description>
    <p>
      Start an FTP server as user and transfer files directly via
      most file browsers' builtin FTP support:
      Windows File Explorer, Thunar, Gnome Files, Dolphin and many more!
    </p>
    <p>Features:</p>
    <ul>
      <li>User-friendly graphical interface.</li>
      <li>No root nor special permissions required.</li>
      <li>FTP encryption (FTPS). SFTP support.</li>
      <li>Single-user authentication.</li>
      <li>Optional read-only filesystem.</li>
    </ul>
    <p>Known upstream bugs (full list at documentation page):</p>
    <ul>
      <li>Gtk4 - Unresponsive UI after touch input. Gtk#5096</li>
      <li>Gtk4 - Dropdown menus not working under Steam Deck Gamescope.</li>
      <li>Libadwaita - GTK_THEME breaks styling. libadwaita#677</li>
      <li>Flatpak - Directory selection not working under Steam Deck Gamescope.</li>
      <li>UX - Users using Discover store comments complain about about flatpak runtime bugs.</li>
    </ul>
</description>
  <launchable type="desktop-id">eu.ithz.umftpd.desktop</launchable>
  <screenshots>
    <screenshot type="default">
      <image>https://gitlab.com/ergoithz/umftpd/-/raw/master/media/v0.3.4-main.png</image>
      <caption>Configuration</caption>
    </screenshot>
    <screenshot>
      <image>https://gitlab.com/ergoithz/umftpd/-/raw/master/media/v0.3.4-status.png</image>
      <caption>Server status</caption>
    </screenshot>
  </screenshots>
  <content_rating type="oars-1.1" />
  <url type="homepage">{{global._url_homepage}}</url>
  <url type="bugtracker">{{global._url_issue_tracker}}</url>
  <url type="help">{{global._url_help}}</url>
  <url type="donation">{{global._url_donations}}</url>
  <recommends>
    <control>pointing</control>
    <control>keyboard</control>
    <control>touch</control>
  </recommends>
  <requires>
    <display_length compare="ge">500</display_length>
  </requires>
  <releases>
    <release version="0.3.4" date="2024-09-12">
      <description>
        <p>Changes</p>
        <ul>
          <li>Isolate server process for performance.</li>
          <li>Updated icon.</li>
          <li>Improved UX.</li>
          <li>Reduced startup time.</li>
          <li>Added CLI argument to not force dark UI.</li>
          <li>Share to clipboard instead of proprietary messaging.</li>
          <li>Russian translation.</li>
        </ul>
        <p>Fixed</p>
        <ul>
          <li>Limit logs to avoid memory leak.</li>
          <li>Prevent zeroconf collisions from crashing the server.</li>
        </ul>
        <p>Other</p>
        <ul>
          <li>Workaround libadwaita broken GTK_THEME handling.</li>
        </ul>
      </description>
    </release>
    <release version="0.3.3" date="2023-04-07">
      <description>
        <p>Fixes</p>
        <ul>
          <li>Ignore SSL certificates for plain FTP.</li>
          <li>Fix internal invalid SSL certificate recreation.</li>
        </ul>
        <p>Other</p>
        <ul>
          <li>Update Flatpak runtime.</li>
          <li>Limit open connections to 32.</li>
          <li>Address some general code stability concerns.</li>
          <li>Add menu link to known Flatpak issues.</li>
          <li>Include zeroconf URIs in the address list.</li>
          <li>Command line --localhost option to skip network address checks.</li>
        </ul>
      </description>
    </release>
    <release version="0.3.2" date="2022-12-18">
      <description>
        <p>Fixes</p>
        <ul>
          <li>Server address showing previous username.</li>
          <li>Handle Flatpak root filesystem limitations.</li>
        </ul>
        <p>Other</p>
        <ul>
          <li>Update Flatpak runtime.</li>
        </ul>
      </description>
    </release>
    <release version="0.3.1" date="2022-08-31">
      <description>
        <p>Features</p>
        <ul>
          <li>UX improvements.</li>
          <li>Italian translation (Albano Battistella).</li>
        </ul>
        <p>Known bugs:</p>
        <ul>
          <li>
            Upstream, touch-specific: Server cannot be started after protocol switching via touch input.
            Gtk4 bug #5096
          </li>
        </ul>
      </description>
    </release>
    <release version="0.3.0" date="2022-08-19">
      <description>
        <p>Features</p>
        <ul>
          <li>User-friendly server status.</li>
          <li>Show server initialization errors.</li>
        </ul>
        <p>Fixes</p>
        <ul>
          <li>About dialog can now be reopen.</li>
          <li>Server startup stop now works.</li>
        </ul>
      </description>
    </release>
    <release version="0.2.2" date="2022-08-14">
      <description>
        <p>Fixes</p>
        <ul>
          <li>Block non-writing exclusive-creation in read-only SFTP.</li>
        </ul>
      </description>
    </release>
    <release version="0.2.1" date="2022-08-10">
      <description>
        <p>Features</p>
        <ul>
          <li>All public network addresses are now logged.</li>
          <li>All protocols are now announced via zeroconf.</li>
        </ul>
        <p>Fixes</p>
        <ul>
          <li>Re-enable saved password encryption.</li>
          <li>Show message for xdg-desktop-portal bug #820.</li>
          <li>Remove unnecessary permissions.</li>
        </ul>
      </description>
    </release>
    <release version="0.2.0" date="2022-08-06">
      <description>
        <p>Features</p>
        <ul>
          <li>SFTP support.</li>
          <li>UX improvements.</li>
          <li>Spanish translation.</li>
        </ul>
      </description>
    </release>
    <release version="0.1.1" date="2022-07-30">
      <description>
        <p>Fixes</p>
        <ul>
          <li>Fix host discovery.</li>
          <li>Fix Flatpak generation.</li>
        </ul>
      </description>
    </release>
    <release version="0.1.0" date="2022-07-22">
      <description>
        <p>Features</p>
        <ul>
          <li>Basic functionality: Authentication, R/RW modes and FTP+SSL.</li>
          <li>Functional Flatpak.</li>
        </ul>
        <p>Missing features</p>
        <ul>
          <li>Flatpak metadata (so no Flathub).</li>
          <li>About menu.</li>
          <li>Application menu start/stop.</li>
          <li>Appindicator support.</li>
        </ul>
        <p>Known issues</p>
        <ul>
          <li>Unable to discover the current IP.</li>
          <li>GObject version not sticked (it breaks Flatpak).</li>
          <li>Other dependency versions are too strict.</li>
        </ul>
      </description>
    </release>
  </releases>
</component>
